*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#key{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 10px;
    
}
#kay{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}


button{
    margin-top: 10px;
    margin-bottom: 10em;
    color: white;
    background-color: lightskyblue;
    border: 1px solid lightslategray;
    padding: 8px;
    border-radius: 10px;
}
button:active{
    background-color: lightblue;
}