*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#ele{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    color: black;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ele1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    margin-top: 10px;
    color: white;
    background-color: lightskyblue;
    border: 1px solid lightslategray;
    padding: 8px;
    border-radius: 10px;
}
button:active{
    background-color: lightblue;
}